@using DemersSolutions.web.Models
@model LoginViewModel

@{
    ViewBag.Title = "Login";
}

<header class="wrap-title">
    <div class="container">
        <h1 class="page-title">Login</h1>

        <ol class="breadcrumb hidden-xs">
            <li><a href="#">Home</a></li>
            <li class="active">Login</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="center-block logig-form">
        <div class="panel panel-default">
            <div class="panel-heading">Login Form</div>
            <div class="panel-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-group", role = "form" }))
                {
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@                    
                <div class="form-group">
                    <div class="input-group login-input">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "email" })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <br>
                    <div class="input-group login-input">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "password" })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                    <input type="submit" value="Login" class="btn btn-primary pull-right" />
                    <a href="#" class="social-icon soc-twitter animated fadeInDown animation-delay-2"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-icon soc-google-plus animated fadeInDown animation-delay-3"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social-icon soc-facebook animated fadeInDown animation-delay-4"><i class="fa fa-facebook"></i></a>
                    <hr>
                    <a href="@Url.Action("Register", "Account")" class="btn btn-success pull-right">Create Account</a>
                    <a href="@Url.Action("ForgotPassword", "Account")" class="btn btn-warning">Password Recovery</a>
                    <div class="clearfix"></div>
                </div>
                }
            </div>
        </div>
    </div>
</div> <!-- container  -->







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}