<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DemersSolutions.ca</title>
    @Styles.Render("~/Content/css")

    <link href="~/Content/Themes/Openmind/css/style.css" rel="stylesheet" media="screen" title="default">
    <link id="default-style" href="~/Content/Themes/Openmind/css/color-default.css" rel="stylesheet" media="screen" title="default">
    <link id="default-width" href="~/Content/Themes/Openmind/css/width-full.css" rel="stylesheet" media="screen" title="default">
    <link href="~/Content/Themes/Demers.css" rel="stylesheet" />

    <script type="text/javascript">
        var cssPath = "/" + window.location.pathname.split('/')[1] + "/Content/Themes/Openmind/css/";
    </script>
</head>
<body>

    <div class="boxed animated fadeIn animation-delay-5">

        <header id="header" class="hidden-xs">
            <div class="container">
                <div id="header-title">
                    <h1 class="animated fadeInDown">@Html.ActionLink("Demers Solutions", "Index", "Home")</h1>
                    <p class="animated fadeInLeft">Custom solutions that work</p>
                </div>

                <div id="social-header" class="hidden-xs">
                    <a href="#" class="social-icon soc-twitter animated fadeInDown animation-delay-1"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-icon soc-facebook animated fadeInDown animation-delay-3"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-icon soc-linkedin animated fadeInDown animation-delay-6"><i class="fa fa-linkedin"></i></a>
                </div>
            </div> <!-- container -->
        </header> <!-- header -->

        <nav class="navbar navbar-static-top navbar-mind" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="@Url.Action("Index", "Home")">Demers <span>Solutions</span></a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-inverse"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-mind-collapse">
                    <ul id="top-nav" class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li> <!-- dropdown -->
                        <li>@Html.ActionLink("Servcies", "Index", "Servcies")</li> <!-- dropdown -->
                        <li>@Html.ActionLink("Gallery", "Index", "Gallery")</li> <!-- dropdown -->
                        <li>@Html.ActionLink("Testimonials", "Index", "Testimonial")</li> <!-- dropdown -->
                        <li>@Html.ActionLink("Contact Us", "Index", "ContactUs")</li> <!-- dropdown -->
                    </ul> <!-- nav nabvar-nav -->
                </div><!-- navbar-collapse -->
            </div> <!-- container -->
        </nav> <!-- navbar navbar-default -->

        @RenderBody()

        <aside id="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="footer-widget-title">Sitemap</h3>
                        <ul class="list-unstyled three_cols">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Portafolio</a></li>
                            <li><a href="#">Works</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Cantact</a></li>
                        </ul>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </aside> <!-- footer-widgets -->

        <footer id="footer">
            <p>&copy; 2013 <a href="#">Demers Solutions</a>, All rights reserved.</p>
        </footer>

    </div> <!-- boxed -->

    <div id="back-top">
        <a href="#header"><i class="fa fa-chevron-up"></i></a>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Openmind/styleswitcher.js"></script>
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
    <script src="~/Scripts/Custom/utilities.js"></script>

</body>
</html>
