<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DemersSolutions.ca</title>
    @Styles.Render("~/Content/css")

    <link href="~/Content/Themes/Openmind/css/style.css" rel="stylesheet" media="screen" title="default">
    <link id="default-style" href="~/Content/Themes/Openmind/css/color-default.css" rel="stylesheet" media="screen" title="default">
    <link id="default-width" href="~/Content/Themes/Openmind/css/width-full.css" rel="stylesheet" media="screen" title="default">
    <link href="~/Content/Themes/Demers.css" rel="stylesheet" />

    <script type="text/javascript">
        var cssPath = "/" + window.location.pathname.split('/')[1] + "/Content/Themes/Openmind/css/";
    </script>
</head>
<body>

    <div class="boxed animated fadeIn animation-delay-5">

        <header id="header" class="hidden-xs">
            <div class="container">
                <div id="header-title">
                    <h1 class="animated fadeInDown">@Html.ActionLink("Demers Solutions", "Index", "Home")</h1>
                    <p class="animated fadeInLeft">Custom solutions that work</p>
                </div>

                <div id="social-header" class="hidden-xs">
                    <a href="#" class="social-icon soc-twitter animated fadeInDown animation-delay-1"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-icon soc-facebook animated fadeInDown animation-delay-3"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-icon soc-linkedin animated fadeInDown animation-delay-6"><i class="fa fa-linkedin"></i></a>
                </div>
            </div> <!-- container -->
        </header> <!-- header -->

        <nav class="navbar navbar-static-top navbar-mind" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="@Url.Action("Index", "Home")">Open <span>Mind</span></a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-inverse"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-mind-collapse">
                    <ul id="top-nav" class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Home")">Home Option 1</a></li>
                                <li><a href="@Url.Action("Index2", "Home")">Home Option 2</a></li>
                            </ul>
                        </li> <!-- dropdown -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI Elements <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("CSS", "UIElements")">CSS</a></li>
                                <li><a href="@Url.Action("Components", "UIElements")">Components</a></li>
                                <li><a href="@Url.Action("AdditionalComponents", "UIElements")">Additional Components</a></li>
                                <li><a href="@Url.Action("Layout", "UIElements")">Layout</a></li>
                            </ul>
                        </li> <!-- dropdown -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("AboutUs", "Pages")">About us</a></li>
                                <li><a href="@Url.Action("OurTeam", "Pages")">Our Team</a></li>
                                <li><a href="@Url.Action("Services", "Pages")">Services</a></li>
                                <li><a href="@Url.Action("Pricing", "Pages")">Pricing</a></li>

                                <li><a href="@Url.Action("FAQ", "Pages")">FAQ</a></li>
                                <li><a href="@Url.Action("ComingSoon", "Pages")">Coming Soon</a></li>
                                <li><a href="@Url.Action("ComingSoonV2", "Pages")">Coming Soon Option 2</a></li>
                                <li><a href="@Url.Action("Timeline", "Pages")">Timeline</a></li>
                                <li><a href="@Url.Action("Error404", "Pages")">Error 404</a></li>
                                <li><a href="@Url.Action("Contact", "Pages")">Contact</a></li>
                                <li><a href="@Url.Action("FullPage", "Pages")">Full Page</a></li>
                                <li class="dropdown-header">User Pages</li>
                                <li><a href="@Url.Action("Register", "Pages")">Register</a></li>
                                <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                                <li><a href="@Url.Action("Profile", "Pages")">Profile</a></li>
                            </ul>
                        </li> <!-- dropdown -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("BlogRightSidebar", "Blog")">Blog Right Sidebar</a></li>
                                <li><a href="@Url.Action("BlogLeftSidebar", "Blog")">Blog Left Sidebar</a></li>
                                <li><a href="@Url.Action("BlogFull", "Blog")">Blog Full</a></li>
                                <li><a href="@Url.Action("BlogSingle", "Blog")">Blog Single</a></li>
                                <li><a href="@Url.Action("BlogOther", "Blog")">Blog Other Option</a></li>
                            </ul>
                        </li> <!-- dropdown -->
                        <li>@Html.ActionLink("Contact Us", "Index", "ContactUs")</li> <!-- dropdown -->
                    </ul> <!-- nav nabvar-nav -->

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login</a>
                            <div class="dropdown-menu dropdown-login animated fadeInUp">
                                <form role="form">
                                    <h4 class="section-title">Login Form</h4>

                                    <div class="form-group">
                                        <div class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="text" class="form-control" placeholder="Username">
                                        </div>
                                        <br>
                                        <div class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            <input type="password" class="form-control" placeholder="Password">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right">Login</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </li> <!-- dropdown -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">User name</a>
                            <div class="dropdown-menu dropdown-profile animated fadeInUp">
                                <img src="~/Content/Themes/Openmind/img/avatar.jpg" class="imageborder alignleft" alt="image">
                                <h4>Administrator</h4>
                                admin@openmind.com<br>
                                <a href="@Url.Action("Profile", "Pages")">Profile</a> | <a href="#">Logout</a>

                            </div>
                        </li> <!-- dropdown -->
                    </ul> <!-- nav nabvar-nav -->
                </div><!-- navbar-collapse -->
            </div> <!-- container -->
        </nav> <!-- navbar navbar-default -->

        @RenderBody()

        <aside id="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="footer-widget-title">Sitemap</h3>
                        <ul class="list-unstyled three_cols">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Portafolio</a></li>
                            <li><a href="#">Works</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Cantact</a></li>
                        </ul>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </aside> <!-- footer-widgets -->

        <footer id="footer">
            <p>&copy; 2013 <a href="#">Demers Solutions</a>, All rights reserved.</p>
        </footer>

    </div> <!-- boxed -->

    <div id="back-top">
        <a href="#header"><i class="fa fa-chevron-up"></i></a>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Openmind/styleswitcher.js"></script>
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
    <script src="~/Scripts/Custom/utilities.js"></script>

</body>
</html>
